<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Words so far: <%= word_so_far (@tally.letters) %>
</p>
  
<p>
  Letters guessed: <%= letters_used(@tally.letters_used) %>
</p>

<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
  <%= text_input(f, :guess) %>
  <%= submit("Make next move") %>
  <% end) %>
<% end %>